.list-container {
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
    float: left;
}
.list-container-inner {
    box-shadow: 4px 4px 6px #808080;
    border-radius: 5px;
    min-height: 200px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.list-header {
    text-align: center;
    border-bottom: 1px solid #8f9cbd;
    margin-bottom: 20px;
}
.list-header h3 {
    font-family: "Roboto-Bold";
    color: #37425e;
    font-size: 25px;
}