.container-fluid {
    background-image: url("../assets/images/blockchain9.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.list-container {
    width: 100%;
    min-height: 200px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #808080;
    margin-top: 100px;
    padding: 30px 0 30px 0;
}

.list-header {
    text-align: center;
}
.list-header h3 {
    font-family: "Roboto-Bold";
    color: #37425e;
}